@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600);
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  color: #142B35;
  line-height: 1;
}
html a, body a {
  color: #142B35;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
html a:hover, body a:hover {
  color: #3A98B2;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=__container] {
  max-width: 1352px;
  padding: 0 16px;
  margin: 0 auto;
}

.button {
  height: 3.1875rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 20px;
  color: #fff;
  font-size: 1rem;
  background-color: #3A98B2;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover {
  background-color: #328BA4;
}
.button_border {
  background: none;
  color: #000;
  border: 1px solid #3A98B2;
}
.button_border:hover {
  color: #fff;
  background-color: #3A98B2;
}
.button_yellow {
  background-color: #F2B91D;
}
.button_yellow:hover {
  background-color: #ECB51D;
}
.button_yellow_border {
  background: none;
  border: 1px solid #F2B91D;
  color: #000;
}
.button_yellow_border:hover {
  color: #fff;
  background-color: #F2B91D;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  position: relative;
  z-index: 50;
}
.contact::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  height: 34px;
  width: 1px;
  background-color: #E0E0E0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.contact__phone img {
  width: 18px;
}
.contact__phone span {
  margin: 0 0 0 16px;
}
@media (max-width: 70.625em) {
  .contact::before {
    display: none;
  }
  .contact__phone span {
    display: none;
  }
}
@media (max-width: 47.9375em) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media (max-width: 28.5em) {
  .contact__button {
    display: none;
  }
}

.menu {
  padding: 0 10px;
  position: relative;
  z-index: 50;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.menu__button {
  display: none;
}
@media (max-width: 84.5em) {
  .menu__list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 62em) {
  .menu {
    position: fixed;
    z-index: 20;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 156px 16px 0;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: #f5f5f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    overflow: auto;
  }
  .menu.active {
    left: 0;
  }
  .menu__list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px 0;
  }
  .menu__link {
    font-size: 20px;
  }
  .menu__button {
    text-align: center;
    display: block;
    padding: 0 0 32px 0;
  }
}
@media (max-width: 47.9375em) {
  .menu {
    padding: 112px 16px 0;
  }
}

.header__container {
  min-height: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.header__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 5;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.02);
}
.header__burger {
  display: none;
}
.header__logo {
  position: relative;
  z-index: 50;
}
.header__logo img {
  width: 12rem;
}
@media (max-width: 62em) {
  .header__burger {
    display: block;
    height: 15px;
    width: 30px;
    cursor: pointer;
    position: relative;
    z-index: 50;
  }
  .header__burger span, .header__burger::after, .header__burger::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    display: block;
    background-color: #142B35;
    border-radius: 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger::after, .header__burger::before {
    content: "";
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::before {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0, -50%);
            transform: rotate(45deg) translate(0, -50%);
  }
  .header__burger.active::after {
    bottom: 50%;
    -webkit-transform: rotate(-45deg) translate(0, 50%);
            transform: rotate(-45deg) translate(0, 50%);
  }
}
@media (max-width: 47.9375em) {
  .header__container {
    -webkit-column-gap: 14px;
       -moz-column-gap: 14px;
            column-gap: 14px;
  }
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .header__logo img {
    width: 97px;
  }
  .header__contact {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__burger {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 28.5em) {
  .header__container {
    min-height: 56px;
  }
}

.company {
  position: relative;
  min-height: calc(469px + 219 * ((100vw - 320px) / 1120));
  background: url("../image/bg.jpg") bottom left/cover no-repeat;
}
.company::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(55, 46, 46, 0.4);
  z-index: 5;
}
.company__container {
  color: #fff;
  position: relative;
  top: 0;
  z-index: 10;
  height: 100%;
  padding-top: calc(198px + 151 * ((100vw - 320px) / 1120));
}
.company__body {
  padding: 0 0 0 32px;
}
.company__body > *:not(:last-child) {
  margin: 0 0 15px 0;
}
.company__title {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: capitalize;
  max-width: 42.25rem;
  position: relative;
}
.company__title::after {
  content: "";
  position: absolute;
  top: 0;
  left: -32px;
  border-right: 2px solid #F2B91D;
  height: 100%;
}
.company__text {
  font-weight: 500;
  line-height: 167.3%;
  max-width: 32.875rem;
}
@media (max-width: 47.9375em) {
  .company__body {
    padding: 0 0 0 8px;
  }
  .company__title {
    font-size: 1.25rem;
  }
  .company__title::after {
    left: -8px;
  }
  .company__text {
    font-size: 0.875rem;
  }
}

.title-services {
  line-height: 167.3%;
  text-align: center;
}
.title-services_left {
  text-align: left;
}
.title-services_left .title-services__text {
  margin: 0;
  max-width: 100%;
}
.title-services__title {
  color: #738697;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.075em;
  text-transform: uppercase;
}
.title-services__title:not(:last-child) {
  margin: 0 0 8px 0;
}
.title-services__subtitle {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.02em;
}
.title-services__subtitle:not(:last-child) {
  margin: 0 0 16px 0;
}
.title-services__text {
  max-width: 27.625rem;
  margin: 0 auto;
  color: #5B6E76;
}
@media (max-width: 47.9375em) {
  .title-services__subtitle {
    font-size: 1.25rem;
  }
}

.cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 16px;
}
.cards__card {
  padding: 0 15px;
  cursor: pointer;
}
.cards__card.swiper-slide:hover .item-cards__title {
  color: #3A98B2;
}

.item-cards {
  height: 100%;
  line-height: 167.3%;
  background: #FFF;
  -webkit-box-shadow: 1px 1px 12px 0px rgba(71, 71, 71, 0.06);
          box-shadow: 1px 1px 12px 0px rgba(71, 71, 71, 0.06);
  padding: 56px 10px;
  text-align: center;
}
.item-cards__image {
  width: 88px;
  height: 88px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.item-cards__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  border-radius: 50%;
  background-color: #ABD2D9;
}
.item-cards__image:not(:last-child) {
  margin: 0 0 24px;
}
.item-cards__title {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -0.01125em;
  text-transform: capitalize;
}
.item-cards__title:not(:last-child) {
  margin: 0 0 16px;
}
.item-cards__text {
  margin: 0 auto;
  max-width: 17.5rem;
  color: #5B6E76;
}
@media (max-width: 47.9375em) {
  .item-cards {
    padding: 32px 5px;
  }
  .item-cards__image {
    width: 40px;
    height: 40px;
  }
  .item-cards__image img {
    max-height: 24px;
  }
  .item-cards__image:not(:last-child) {
    margin: 0 0 16px;
  }
  .item-cards__title {
    font-size: 1rem;
  }
  .item-cards__text {
    line-height: 155.3%;
    max-width: 100%;
  }
}

.swiper-pagination-bullet {
  background: #e0e0e0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.swiper-pagination-bullet-active {
  background: #F2B91D;
}

.services {
  padding: 79px 0 100px 0;
}
.services__title:not(:last-child) {
  margin: 0 0 40px 0;
}
.services__cards {
  padding-bottom: 32px;
}
@media (max-width: 47.9375em) {
  .services {
    padding: 40px 0;
  }
  .services__swiper .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
}

.form {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 12px 0px rgba(71, 71, 71, 0.06);
          box-shadow: 1px 1px 12px 0px rgba(71, 71, 71, 0.06);
  padding: 56px;
}
.form__title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}
.form__title:not(:last-child) {
  margin: 0 0 40px 0;
}
.form__body > *:not(:last-child) {
  margin: 0 0 16px;
}
.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form__inputs .form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 12px);
          flex: 1 1 calc(50% - 12px);
  min-width: 162px;
}
.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.form__input label {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: capitalize;
}
.form__input label span {
  color: #F2B91D;
}
.form__input input {
  height: 40px;
  padding: 13px 16px;
  width: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}
.form__input textarea {
  resize: vertical;
  min-height: 73px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}
.form__button {
  margin: 32px 0 0;
  text-align: center;
}
.form__button .button {
  min-height: 47px;
  padding: 14px 24px;
}
@media (max-width: 47.9375em) {
  .form {
    padding: 24px;
  }
  .form__title:not(:last-child) {
    margin: 0 0 32px 0;
  }
  .form__button .button {
    width: 100%;
  }
}

.local {
  background-color: rgba(171, 210, 217, 0.04);
  padding: 80px 0;
}
.local__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}
.local__title:not(:last-child) {
  margin: 0 0 40px 0;
}
.local__list li:not(:last-child) {
  margin: 0 0 16px 0;
}
.local__link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24px 16px 1fr;
  grid-template-columns: 24px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.local__address {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 740px;
          flex: 1 1 740px;
}
.local__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 548px;
          flex: 1 1 548px;
}
@media (max-width: 47.9375em) {
  .local {
    padding: 40px 0;
  }
  .local__title:not(:last-child) {
    margin: 0 0 32px 0;
  }
}

.map {
  position: relative;
  padding: 0 0 38.3%;
  min-height: 245px;
}
.map img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tips-blog {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(429px, 1fr));
  gap: 16px;
}
.tips-blog__tip {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 12px 0px rgba(71, 71, 71, 0.03);
          box-shadow: 1px 1px 12px 0px rgba(71, 71, 71, 0.03);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.tips-blog__tip:hover {
  -webkit-box-shadow: 1px 1px 12px 0px rgba(71, 71, 71, 0.06);
          box-shadow: 1px 1px 12px 0px rgba(71, 71, 71, 0.06);
}
.tips-blog__tip:hover .tip-blog__title {
  color: #3A98B2;
}

.tip-blog__image {
  position: relative;
  padding: 0 0 67.2%;
}
.tip-blog__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tip-blog__body {
  line-height: 167.3%;
  padding: 24px;
}
.tip-blog__date {
  font-size: 0.875rem;
  color: #5B6E76;
}
.tip-blog__date:not(:last-child) {
  margin: 0 0 8px 0;
}
.tip-blog__title {
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -0.01125em;
}
.tip-blog__title:not(:last-child) {
  margin: 0 0 16px 0;
}
.tip-blog__text {
  color: #5B6E76;
}

.blog {
  padding: 128px 0 120px 0;
}
@media (max-width: 767px) {
  .blog {
    padding: 40px 0;
  }
  .blog__swiper .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
}
.blog__title.title-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}
.blog__title:not(:last-child) {
  margin: 0 0 40px 0;
}
.blog__tips {
  padding-bottom: 32px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer {
  padding: 0 15px;
}
.footer__container {
  border-top: 1px solid #E0E0E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px 60px;
}
.footer__text {
  font-size: 0.75rem;
  line-height: 167.3%;
  opacity: 0.5;
  text-wrap: balance;
}
.footer__text_upper {
  text-transform: capitalize;
}
.footer__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px 44px;
}