body {
    &._lock {
        overflow: hidden;
    }
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
._ibg {
    position: relative;
    & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
[class*="__container"] {
    max-width: $container;
    padding: 0 16px;
    margin: 0 auto;
}