// Color
$dark: #142B35;
$white: #fff;

$accent: #3A98B2;
$accent-secondary: #328BA4;

$yellow: #F2B91D;
$yellow-secondary: #ECB51D;

$second: #5B6E76;
$gray: #738697;
$blue: #ABD2D9;

// Layouts
$layout-1: 1;
$layout-2: 5;
$layout-3: 10;
$layout-4: 20;
$layout-5: 50;

// Height
$container: 1352px;
$tablet: 992px;
$phone: 767px;
