@import "./blocks/services__title";
@import "./blocks/services__cards";

.services {
    padding: 79px 0 100px 0;
    &__title {
        &:not(:last-child) {
            margin: 0 0 40px 0;
        }
    }
    &__swiper {
        padding: 15px;
    }
    &__pagination {
        top: 15px;
    }
    @media (max-width: 767px) {
        &__swiper .swiper-wrapper {
          display: flex;
          column-gap: 0;
        }
    }
}
