@import "./blocks/services__title";
@import "./blocks/services__cards";
@import "./blocks/services__swiper";

.services {
    padding: 79px 0 100px 0;
    &__title {
        &:not(:last-child) {
            margin: 0 0 40px 0;
        }
    }
    &__cards {
        padding-bottom: 32px;
    }
    @include media($phone) {
        padding: 40px 0;
        &__swiper .swiper-wrapper {
          display: flex;
          column-gap: 0;
        }
    }
}
