.title-services {
    text-align: center;
    &_left {
        text-align: left;
        .title-services__text {
            margin: 0;
            max-width: 100%;
        }
        .title-services__subtitle {
            font-size: toRem(24px);
            letter-spacing: toEm(-0.24px);
        }
    }
    &__title {
        line-height: 167.3%;
        color: $gray;
        font-size: toRem(12px);
        font-weight: 600;
        letter-spacing: toEm(1.2px);
        text-transform: uppercase;
        &:not(:last-child) {
            margin: 0 0 8px 0;
        }
    }
    &__subtitle {
        line-height: 167.3%;
        text-transform: uppercase;
        font-size: toRem(32px);
        font-weight: 500;
        letter-spacing: toEm(-0.32px);
        &:not(:last-child) {
            margin: 0 0 16px 0;
        }
    }
    &__text {
        line-height: 167.3%;
        max-width: toRem(442px);
        margin: 0 auto;
        color: $second;
    }
    @include media($phone) {
        &__subtitle {
            font-size: toRem(20px);
            line-height: 134.3%; 
        }
        &__text {
            font-size: toRem(14px);
            line-height: 155.3%;
        }
        &_left {
            .title-services__subtitle {
                letter-spacing: toEm(-0.2px);
                font-size: toRem(20px);
                line-height: 157.3%
            }
        }
    }
}
 